<ion-header translucent="true">
  <ion-toolbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!showSearchbar"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ segment === 'list' ? 'Clientes' : 'Agregar Cliente' }}</ion-title>
    <ion-searchbar *ngIf="showSearchbar && segment === 'list'" showCancelButton="always" [(ngModel)]="queryText" (ionInput)="updateView()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="segment === 'list' && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="segment" (ionChange)="updateView()">
    <ion-segment-button value="list">
      Lista de Clientes
    </ion-segment-button>
    <ion-segment-button value="add">
      Agregar Cliente
    </ion-segment-button>
  </ion-segment>

  <!-- Lista de Clientes -->
  <div *ngIf="segment === 'list'">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Clientes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-card *ngFor="let customer of customers" [class.selected]="customer.selected">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="../../../assets/img/customers.png" alt="{{customer.name}}">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ customer.name }}</h2>
            <p>{{ customer.phone }}</p>
          </ion-label>
        </ion-item>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block" color="primary" fill="outline" (click)="openMap(customer.latitude, customer.longitude)">
                  <ion-icon slot="start" name="location-outline"></ion-icon>
                  Mapa
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" color="primary" (click)="selectCustomer(customer)">
                  {{ customer.selected ? 'Seleccionado' : 'Seleccionar' }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list-header [hidden]="customers.length > 0">
      No hay clientes registrados
    </ion-list-header>
  </div>

  <!-- Agregar Cliente -->
  <div *ngIf="segment === 'add'">
    <ion-card>
      <ion-card-content>
        <form #addClientForm="ngForm" (ngSubmit)="submitForm(addClientForm)" novalidate>
          <ion-input
            label="Nombre"
            labelPlacement="stacked"
            fill="solid"
            [(ngModel)]="newCustomer.name"
            name="name"
            type="text"
            #name="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
            style="margin-bottom: 12px;">
          </ion-input>
          <div *ngIf="name.invalid && name.touched" class="error-message">
            El nombre es requerido.
          </div>
  
          <ion-input
            label="Dirección"
            labelPlacement="stacked"
            fill="solid"
            [(ngModel)]="newCustomer.address"
            name="address"
            type="text"
            #address="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
            style="margin-bottom: 12px;">
          </ion-input>
          <div *ngIf="address.invalid && address.touched" class="error-message">
            La dirección es requerida.
          </div>
  
          <ion-input
            label="Teléfono"
            labelPlacement="stacked"
            fill="solid"
            [(ngModel)]="newCustomer.phone"
            name="phone"
            type="tel"
            #phone="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
            style="margin-bottom: 12px;">
          </ion-input>
          <div *ngIf="phone.invalid && phone.touched" class="error-message">
            El teléfono es requerido.
          </div>
  
          <ion-input
            label="Latitud"
            labelPlacement="stacked"
            fill="solid"
            [(ngModel)]="newCustomer.latitude"
            name="latitude"
            type="number"
            #latitude="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
            style="margin-bottom: 12px;">
          </ion-input>
          <div *ngIf="latitude.invalid && latitude.touched" class="error-message">
            La latitud es requerida.
          </div>
  
          <ion-input
            label="Longitud"
            labelPlacement="stacked"
            fill="solid"
            [(ngModel)]="newCustomer.longitude"
            name="longitude"
            type="number"
            #longitude="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
            style="margin-bottom: 12px;">
          </ion-input>
          <div *ngIf="longitude.invalid && longitude.touched" class="error-message">
            La longitud es requerida.
          </div>

          <ion-button expand="block" color="secondary" (click)="getCurrentLocation()" style="margin-bottom: 12px;">
            Obtener Ubicación Actual
          </ion-button>
  
          <div class="ion-padding">
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block" [disabled]="addClientForm.invalid">
                  Registrar cliente
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
