<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Iniciar sesión</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loggedIn" class="login-container">
    <div class="login-logo">
      <img src="assets/img/appicon.png" alt="Fox logo">
    </div>

    <div class="login-form">
      <form #loginForm="ngForm" novalidate>
        <ion-input
          label="Usuario"
          labelPlacement="stacked"
          fill="solid"
          [(ngModel)]="login.username"
          name="username"
          type="text"
          #username="ngModel"
          spellcheck="false"
          autocapitalize="off"
          errorText="El usuario es requerido"
          required>
        </ion-input>

        <ion-input
          label="Contraseña"
          labelPlacement="stacked"
          fill="solid"
          [(ngModel)]="login.password"
          name="password"
          type="password"
          #password="ngModel"
          errorText="La contraseña es requerida"
          required>
        </ion-input>
        <div class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="!loginForm.valid">Entrar</ion-button>
            </ion-col>
          </ion-row>
          
          <!-- Botón de registro -->
          <ion-row>
            <ion-col>
              <ion-button (click)="onSignup()" expand="block" color="secondary">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </div>
  </div>
</ion-content>
