<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- Mensaje si no hay cliente seleccionado -->
  <ion-card *ngIf="!clienteSeleccionado.nombre">
    <ion-item lines="none">
      <ion-label>
        <h2>No se ha seleccionado ningún cliente.</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Cliente Seleccionado -->
  <ion-card *ngIf="clienteSeleccionado.nombre">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="../../../assets/img/customers.png" alt="Cliente Seleccionado">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ clienteSeleccionado.nombre }}</h2> <!-- Nombre del cliente -->
      </ion-label>
      <ion-button fill="clear" (click)="cambiarCliente()">
        <ion-icon name="search" size="large"></ion-icon> <!-- Icono de búsqueda -->
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- Mensaje si no hay productos seleccionados -->
  <ion-card *ngIf="productosSeleccionados.length === 0">
    <ion-item lines="none">
      <ion-label>
        <h2>No hay productos seleccionados.</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Lista de productos -->
  <ion-list *ngIf="productosSeleccionados.length > 0">
    <ion-item *ngFor="let producto of productosSeleccionados">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio Unitario: {{ producto.precio }} Gs.</p>
        <p>Cantidad: {{ producto.cantidad }}</p>
        <p>Subtotal: {{ producto.precio * producto.cantidad }} Gs.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Total -->
  <ion-item *ngIf="productosSeleccionados.length > 0" lines="none" style="text-align: right; margin-top: 20px;">
    <ion-label class="ion-text-right">
      <h2><strong style="font-size: 1.4em;">Total:</strong><span style="font-size: 1.4em;"> {{ calcularTotal() }} Gs.</span></h2>
    </ion-label>
  </ion-item>

  <!-- Botón Finalizar Venta -->
  <ion-footer *ngIf="productosSeleccionados.length > 0 && clienteSeleccionado.nombre">
    <ion-toolbar>
      <ion-button expand="block" color="primary" (click)="finalizarVenta()">
        Finalizar Venta
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
